
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    background: black;
    background-image: url(bg1.jpg);
}

/*MAIN WRAPPER DIV*/

/*#wrapper {
    //width: 100%;
    margin-top:50px;
    padding-left: 20px;
    margin-left: 20px;
    border-radius: 8px;
    border:2px #FFF solid;
}*/
/*MAIN PAGE DIV*/
#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:black;
    background-image: url(bg1.jpg);

}
/*THE CONTENT PORTION DIV*/
#page-inner {
    width:100%;
    margin:0px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:800px;
    border-radius: 8px;
    border:2px #FFF solid;
}

/*==============================================
    MENU STYLES    
    =============================================*/
#main-menu i.fa{
    margin-right:15px!important;

}
.navbar-inverse {
    background-color: #FFF;
    border-color: #F3F3F3;
}
.navbar a:hover{
    color:#000!important;
}
.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
    background:none;
}
.sidebar-collapse .nav {
    padding:0;
}
.sidebar-collapse .nav > li > a {
    background: #FFFFFF;
    text-shadow: none;
    color:#000;
    border:2px #FFF solid;
}
.sidebar-collapse > .nav > li > a {
    padding: 25px 10px;
}
.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(240, 240, 240, 1) !important;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

    background:#e7e7e7;
    outline:0;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
    height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
    left:40px;
}
.navbar-side {
    border:2px #FFF solid;
    background-color: black;
    margin-top: 15px;
    margin-left: 10px;
    //min-height:600px;
    background-image: url(bg1.jpg);
    border-radius: 8px;

}
.navbar-inverse{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border:2px #FFF solid;
    border-radius: 8px;
}

.navbar-toggle {
    background-color: grey;
}


/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media(min-width:768px) {
    #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;

    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

}
@media(max-width:767px) {


    .navbar {
        min-height: 0px!important; 
        margin-bottom: 0px!important; 
    }

}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}
.huge {
    font-size: 40px;
}
h4,h5 {
	display: inline;
}

