<div ng-if="vm.r.length !== 0" style="padding-top: 50px">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Report Table</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><h4>#</h4></th>
                                <th><h4>Report Name</h4></th>
                                <th><h4>Process Name</h4></th>
                                <th><h4>Status</h4></th>
                                <th><h4></h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report in vm.r">
                                <td><h4>{{report.id}}</h4></td>
                                <td><h4><a href='#/report/{{report.process.id}}'>{{report.name}}</a></h4></td>
                                <td><h4>{{report.process.name}}</h4></td>
                                <td><h4><span class="label label-sm label-success">{{vm.reportStatus}}</span></h4></td>
                                <td><button type="button" class="btn btn-primary">Generate</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div ng-if="vm.r.length === 0">
    <h1>Reports not found.</h1>
</div> 