<div ng-if="vm.steps.length !== 0">
    <h2><ul class="nav nav-tabs">
            <li ng-repeat='step in vm.steps'><a ng-click='vm.GetFields(step)'>{{step.name}}</a></li>
        </ul></h2>
    <div ng-if="vm.fields.length !== 0">
        <!-- <div class="form-group" ng-repeat='field in vm.fields' >
            <h2>{{field.name}}</h2> <input class="form-control col-md-2" type="text" size="40" value="{{field.value}}">
            <hr></br>
            <button type="button" align="right" class="btn btn-success">Save</button><button type="button" class="btn btn-danger">Clear</button>
        </div> -->
        <div class="col-md-6 col-md-offset-1">
            <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
            <form name="form" ng-submit="vm.Save(field, field.value)" role="form" ng-repeat='field in vm.fields'>
                </br><div class="form-group" ng-class="{ 'has-error': form.fieldName.$dirty && form.fieldName.$error.required }">
                    <label for="fieldName"><h2>{{field.name}}</h2></label>
                    <input type="fieldName" name="fieldName" id="fieldName" class="form-control" ng-model="field.value" required />
                    <span ng-show="form.categoryName.$dirty && form.categoryName.$error.required" class="help-block">Field value is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger">Clear</button>
                </div>
            </form>
        </div>
         local STATUS : {{vm.stepStatus}}
    </div>
    <div ng-if="vm.fields.length === 0">
        <h1>Fields not found.</h1>
    </div>
</div>
<div ng-if="vm.steps.length === 0">
    <h1>Steps not found.</h1>
</div>
